body {
    background-color: #1C2225;
    margin: 0;
    font-family: "Manrope", sans-serif;
}

button {
    font-family: inherit;
    cursor: pointer
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 60px;
    align-items: center;
}

.header-logo {}

.header-nav-list {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-list-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #fcf9f9;
    padding: 17px 0;
    display: block;
}

.nav-list-item {}

.header-address {
    margin-left: auto;
    font-style: normal;
}

.address-list {
    display: flex;
    align-items: center;
}

.address-item:nth-child(1) {
    margin-right: 20px;
}

.address-item:nth-child(2) {
    margin-right: 12px;
}

.address-item:nth-child(3) {
    margin-right: 12px;
}

.address-item:nth-child(4) {
    margin-right: 0;
}

.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #fcf9f9;
}

.address-tel {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 28px;
    width: 193px;
    height: 48px;
}

.social-link {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 8px;
    width: 44px;
    height: 44px;
    background: rgba(252, 249, 249, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}